# Flutter/Dart standaard
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/app/*.keystore
**/android/app/*.jks

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*

# VS Code / IntelliJ / Xcode
.vscode/
.idea/
*.iml
*.ipr
*.iws
xcuserdata/
DerivedData/

# macOS
.DS_Store

# Linux / Windows builds
linux/
windows/
macos/

# Tests / logs
*.log

# Flutter SDK (NIET in GitHub)
flutter/
